# phpstorm project files
.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# folder
test
mobile-old
shop

# html5
#cart.html
#cart-order.html
#cart-cashier.html
#goods.html
#index.html
#login.html
#member.html
#register.html