# phpstorm project files
.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# folder
example-views
test
mobile-old
shop

# html5
cart.html
cart-order.html
cart-cashier.html
goods.html
login.html
member.html
register.html
example-views/
