# phpstorm project files
.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# node js
node_modules/

# folder
/mobile-old
/shop
/demo
/data

# Html Files
#index.html
#main.html
#404.html
#cart.html
#cart-order.html
#cart-cashier.html
#login.html
#register.html
#user.html
#goods.html
#cart-vue.html
#article.html

