@charset "utf-8";

.product-preview-wrap {
    float: left;
}

.product-intro {
    width: 100%;
    float: left;
}

.product-preview {
    width: 412px;
    float: left;
    position: relative;
}

.product-preview-main-img {
    width: 410px;
    height: 410px;
    float: left;
    border: 1px solid #eeeeee;
}

.product-preview-main-img-big {
    width: 400px;
    height: 400px;
    padding: 5px;
    border: 1px solid #eeeeee;
    overflow: hidden;
    position: absolute;
    left: 422px;
    top: 0;
    z-index: 1;
    display: none;
}

.product-preview-main-img:hover .product-preview-main-img-big {
    display: block;
}

.product-preview-main-img > a {
    width: 400px;
    height: 400px;
    float: left;
    margin: 5px;
    display: inline-block;
}

.product-preview-main-img > a > img {
    height: 100%;
    float: left;
}

.product-preview-thumbnail-wrap {
    width: 100%;
    float: left;
    margin: 15px 0;
    position: relative;
}

.product-preview-thumbnail-wrap > a {
    width: 15px;
    height: 55px;
    line-height: 55px;
    color: #666666;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    top: 4px;
}

.product-preview-thumbnail-wrap > a:hover {
    background: rgba(0, 0, 0, .1);
}

.product-preview-thumbnail-wrap > .prev {
    left: 0;
}

.product-preview-thumbnail-wrap > .next {
    right: 0;
}

.product-preview-thumbnail-wrap > ul {
    width: 375px;
    height: auto;
    margin: 0 auto;
}

.product-preview-thumbnail-wrap > ul > li {
    width: 55px;
    height: 55px;
    float: left;
    margin: 0 6px;
    padding: 2px;
    border: 2px solid #ffffff;
}

.product-preview-thumbnail-wrap > ul > .active {
    border: 2px solid #e53e41;
}

.product-preview-thumbnail-wrap > ul > li:hover {
    border: 2px solid #e53e41;
}

.product-preview-thumbnail-wrap > ul > li > a {
    width: 100%;
    height: 100%;
    float: left;
}

.product-preview-thumbnail-wrap > ul > li > a > img {
    height: 100%;
    float: left;
}

.product-info-wrap {
    width: 558px;
    float: left;
    margin: 0 20px;
}

.product-info-name {
    width: 100%;
    float: left;
    line-height: 28px;
    font: 700 16px Arial, "microsoft yahei";
    color: #666;
    margin: 10px 0;
}

.product-info-describe {
    width: 100%;
    line-height: 20px;
    float: left;
    color: #e4393c;
    margin-bottom: 10px;
}

.product-info-describe a {
    color: #5e69ad;
    text-decoration: underline;
}

.product-info-wrap .dt {
    float: left;
    line-height: 22px;
    padding-left: 10px;
    font-family: simsun;
    color: #999;
}

.product-info-wrap .dd {
    margin-left: 20px;
    float: left;
}

.product-info-price .dt {
    margin-top: 7px;
}

.product-info-price .p-price {
    color: #E4393C;
    font-family: "microsoft yahei";
    margin-right: 5px;
}

.product-info-price .p-price > span {
    font-size: 16px;
}

.product-info-price .p-price > .price {
    font-size: 22px;
}

.product-info-price-wrap {
    width: 100%;
    padding: 5px 0 10px 0;
    float: left;
    background-color: #f5f5f5;
    position: relative;
}

.product-info-price-wrap-statistics {
    position: absolute;
    right: 10px;
    top: 20px;
}

.product-info-price-wrap-statistics > div {
    float: left;
    color: #999;
    border-left: solid 1px #e6e6e6;
    text-align: center;
    padding: 0 10px;
    line-height: 15px;
}

.product-info-price {
    width: 100%;
    float: left;
}

.product-info-price-wrap .notice {
    color: #005aa0;
    vertical-align: 2px;
}

.product-info-price-wrap .notice:hover {
    color: #c81623;
}

.product-info-market-price {
    width: 100%;
    float: left;
}

.product-info-market-price .dd .p-price {
    margin-left: 2px;
    color: #999999;
    line-height: 22px;
    text-decoration: line-through;
}

.product-info-choose-attr {
    margin-top: 10px;
    width: 100%;
    float: left;
}

.product-info-choose-attr > ul {
    width: 100%;
    float: left;
}

.product-info-choose-attr > ul > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
}

.product-info-choose-attr > ul > li > .dt {
    line-height: 40px;
}

.product-info-choose-attr > ul > li > .dd > a {
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin-right: 5px;
    white-space: nowrap;
    color: #666666;
}

.product-info-choose-attr > ul > li > .dd > a:hover {
    border: 1px solid #e3393c;
}

.product-info-choose-attr > ul > li > .dd > .active {
    border: 1px solid #e3393c;
}

.product-info-choose-attr > ul > li > .dd > .disabled {
    border: 1px dashed #ccc;
    color: #999999;
}

.product-info-choose-attr > ul > li > .dd > .disabled:hover {
    border: 1px dashed #ccc;
}

.product-info-strip {
    width: 100%;
    float: left;
    margin-top: 15px;
    border-bottom: 1px dotted #dfdfdf;
}

.product-info-choose-amount-wrap {
    width: 100%;
    margin: 15px 0;
    float: left;
}

.product-info-choose-amount {
    height: 43px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    position: relative;
}

.product-info-choose-amount > input[type="text"] {
    width: 40px;
    height: 100%;
    float: left;
    line-height: 45px;
    border: none;
    text-align: center;
}

.product-info-choose-amount-btn {
    width: 18px;
    height: 100%;
    float: left;
    border-left: 1px solid #ccc;
}

.product-info-choose-amount-btn > a {
    width: 100%;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #666;
    float: left;
    background: #f1f1f1;
    text-align: center;
}

.product-info-choose-amount-btn > .item {
    border-bottom: 1px solid #ccc;
}

.product-info-choose-amount-btn > a:hover {
    background: rgba(0, 0, 0, .1);
}

.product-info-choose-btn {
    margin-right: 10px;
    float: left;
}

.product-info-choose-btn > a {
    height: 45px;
    padding: 0 25px;
    font: bold 18px/45px "Microsoft YaHei";
    background-color: #df3033;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: left;
}

.product-info-choose-btn-buy > a {
    background-color: rgb(260, 128, 0);
}

.product-info-choose-btn-buy > a:hover {
    background-color: rgb(250, 118, 10);
}

.product-info-choose-btn-add > a {
    background-color: #F22D00;

}

.product-info-choose-btn-add > a:hover {
    background-color: #df3033;
}

.shop-info-wrap {
    width: 198px;
    float: left;
    border: 1px solid #eeeeee;
}

.shop-info-name {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    background-color: #f7f7f7;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}
.shop-info-name > h3 {
    padding: 0 10px;
}
.shop-info {
    width: 178px;
    padding: 10px;
    float: left;
    overflow: hidden;
}

.shop-info > .item {
    width: 100%;
    float: left;
    line-height: 25px;
}

.shop-info > .item > dl > dt {
    float: left;
}

.shop-info > .item > dl > dd {
    margin-left: 5px;
    float: left;
    max-width: 125px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #3C3C3C;
}
.shop-info > .item > dl > dd > a {
    max-width: 125px;
    float: left;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shop-info > .item > dl > dd > a > i {
    margin-right: 2px;
    float: left;
    line-height: 25px;
}

.shop-info > .shop-rate-wrap {
    width: 100%;
    border-top: dotted 1px #E1E1E1;
    margin-top: 8px;
    padding-top: 8px;
    overflow: hidden;
}

.shop-info > .shop-rate-wrap > .shop-rate {
    /*width: 100%;*/
    width: 208px;
    float: left;
    margin-left: -15px;
    min-height: 35px;
}

.shop-info > .shop-rate-wrap > .shop-rate > dl {
    width: 68px;
    line-height: 20px;
    float: left;
    text-align: center;
    border-left: 1px solid #ebebeb;
}

.shop-info > .shop-rate-wrap > .shop-rate > dl:first-child {
    border-left: 1px solid #ffffff;
}

.shop-info > .shop-rate-wrap > .shop-rate > dl > dd > a {
    color: #00BA97;
    margin-left: 5px;
}

.shop-info-footer {
    width: 100%;
    float: left;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

.shop-info-footer-btn {
    width: 100%;
    padding: 10px 0;
    float: left;
    text-align: center;
}

.shop-info-footer-btn > a {
    line-height: 30px;
    padding: 0 10px;
    margin: 0 3px;
    font-size: 12px;
    border: 1px solid #dddddd;
    background-color: #f8f8f8;
    display: inline-block;
}

.shop-info-footer-btn > a > i {
    color: #e4393c;
    margin-right: 2px;
}

.product-recommend-wrap {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.product-recommend {
    width: 100%;
    min-height: 256px;
    float: left;
}

.product-detail-wrap {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.product-detail-aside {
    width: 210px;
    min-height: 500px;
    float: left;
}

.product-detail {
    width: 990px;
    min-height: 900px;
    float: right;
}