@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u6uz5w');
  src:  url('fonts/icomoon.eot?u6uz5w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u6uz5w') format('truetype'),
    url('fonts/icomoon.woff?u6uz5w') format('woff'),
    url('fonts/icomoon.svg?u6uz5w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart2:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e947";
}
.icon-history:before {
  content: "\e94d";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-search:before {
  content: "\e986";
}
.icon-heart3:before {
  content: "\e9da";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-edit:before {
  content: "\e901";
}
.icon-navigate_before:before {
  content: "\e90d";
}
.icon-navigate_next:before {
  content: "\e90c";
}
.icon-shopping_cart:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e900";
}
.icon-opencart:before {
  content: "\e904";
}
.icon-user-o:before {
  content: "\e908";
}
.icon-heart-o:before {
  content: "\e909";
}
.icon-chevron-down:before {
  content: "\e907";
}

